@model GaclibWebPage.Models.NavigationBarModel

@{
    ViewBag.Title = "GacLib - Download";
}

<tr>
    <td align="left" valign="top" colspan="6">
        <h1 id="QuickLinks">Quick Links</h1>
        <ul>
            <il>
                <strong>Release</strong>
                <p>
                <a href="http://gac.codeplex.com/" target="_blank">http://gac.codeplex.com/</a>
                </p>
                <p>
                <a href="https://github.com/vczh/gac/" target="_blank">https://github.com/vczh/gac/</a>
                </p>
            </il>
            <il>
                <strong>The latest source code</strong>
                <p>
                <a href="http://gac.codeplex.com/SourceControl/BrowseLatest" target="_blank">http://gac.codeplex.com/SourceControl/BrowseLatest</a>
                </p>
            </il>
        </ul>
        <h1 id="Introduction">Introduction</h1>
        <p>
            GacUI library is released by source code in <a href="http://gac.codeplex.com/" target="_blank">http://gac.codeplex.com/</a>. GacUI is released under the MS-PL license. That says, if you want to redistribute your open source project that depends on GacUI, all GacUI source code (modified or not) should be under MS-PL, and your can choose your favorite license for your code. In other cases, MS-PL is very similar to Apache or BSD. Currently a complete GacUI release contains only 5 source files:
        </p>
        <ul>
            <li>
                <strong>GacUIIncludes.h (includes memory.h and string.h)</strong>
                <p>
                    This is the recommended header file to include. This file contains all necessary content to use GacUI. All controls and necessary basic constructions are all in this file.
                </p>
            </li>
            <li>
                <strong>GacUI.h (includes Vlpp.h, Windows.h and Direct2D components)</strong>
                <p>
                    This is the full featured GacUI header files. The differece between GacUI.h and GacUIIncludes.h is that, GacUI.h contains some extra interfaces that required Windows.h. If GacUI.h is included, Windows.h is included as well. Besides Windows.h, GacUI.h also provides interfaces for accessing internal Direct2D or GDI objects for any GacUI window.
                </p>
            </li>
            <li>
                <strong>GacUI.cpp</strong>
                <p>
                    Implements of GacUI library.
                </p>
            </li>
            <li>
                <strong>Vlpp.h and Vlpp.cpp</strong>
                <p>
                    This file comes from <a href="http://vlpp.codeplex.com/" target="_blank">http://vlpp.codeplex.com/</a> project, which constructions that encapsulated strings, containers, regex, threading, synchronization and other tools for making C++ development easier.
                </p>
            </li>
        </ul>
        <h1 id="Download">Download</h1>
        <p>
            The source code and the release of the GacUI project hosts in <a href="http://gac.codeplex.com/" target="_blank">http://gac.codeplex.com/</a>. We suggested the following two ways to get the source code:
        </p>
        <ul>
            <li>
                <strong>Release</strong>
                <p>
                    Release contains well tested and stablized code, necessary tools and HTML documents. Open <a href="http://gac.codeplex.com/" target="_blank">http://gac.codeplex.com/</a>, and click the big <strong>download</strong> button at the right side of the page.
                </p>
                <p>
                    You can also get the release from <a href="https://github.com/vczh/gac/" target="_blank">https://github.com/vczh/gac/</a>.
                </p>
                <p>
                    GacUI prepared <strong>online HTML documents</strong>, click <a href="@Url.Action("Document")">HERE</a> to begin.
                </p>
            </li>
            <li>
                <strong>The latest source code</strong>
                <p>
                    The latest source code contains fixings to bugs that found in the previous release, and new features, that under developing, for the next release. The latest source code doesn't promised to be well tested and stabilized.
                </p>
                <p>
                    If you want to download the latest source code, please go to <a href="http://gac.codeplex.com/SourceControl/BrowseLatest" target="_blank">http://gac.codeplex.com/SourceControl/BrowseLatest</a>, and click <strong>Download</strong>, not DOWNLOADS.
                </p>
                <p>
                    When a zip file is successfully downloaded, extra the zip file, and those <a href="#Introduction">5 source files</a> will be found under <strong>Libraries\GacUI\Public\Source\</strong> directory. Only release provides HTML documents. If you want to build the document yourself, follow the instructions:
                </p>
                <ul>
                    <li>Open <strong>Libraries\GacUI\GacUISrc\GacUISrc.sln</strong> using Visual Studio 2010.</li>
                    <li>Compile the GacUISrc project under <strong>Debug</strong> configuration.</li>
                    <li>Run <strong>Libraries\GacUI\Public\Release.bat</strong> in Windows Explorer.</li>
                </ul>
                <p>
                    After these steps, the latest HTML documents will be generated in <strong>Libraries\GacUI\Public\Web\StaticHtmlDoc</strong> directory.
                </p>
            </li>
        </ul>
        <h1 id="Demos">Download Demos</h1>
        <p>
            Source codes of the demos are available in both release and the latest source code. Currently we only have demos in Visual Studio 2010 C++ projects. Lately we will provide Visual Studio 2008 C++ projects for those demos. Before this, Visual Studio 2008 users should create C++ projects, includes source files and build demos by themselves.
        </p>
        <ul>
            <li>
                <strong>Release</strong>
                <p>
                    If you have already <a href="#Download">download</a> the release, you can find source codes of all demos in <strong>GacUIDemo\GacUIDemo.sln</strong>.
                </p>
            </li>
            <li>
                <strong>The latest source code</strong>
                <p>
                    If you have already <a href="#Download">download</a> the latest source code, you can find source codes of all demos in <strong>Libraries\GacUI\GacUIDemo\GacUIDemo.sln</strong>.
                </p>
            </li>
        </ul>
    </td>
</tr>